body{
    font-family: 'Courier New';
    color: blueviolet;
    
}
.container{
    width: 40%;
    height: 30%;
    border: 1px solid blueviolet;
    padding: 4%;
    text-align: left;
    margin: 0 auto;

}
.container h1{
    font-size: 120%;
    text-align: center;
}